body {
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.logoImg {
    float: left;
    height: 90px;
}
.logo {
    padding: 20px;
    width: 40%;
    color: white;
    
}
.headerH1, .headerH2{
    margin: 0;
}
header > nav {
    display: flex;
    /* align-content: flex-start; */

}
.navA {
    margin: 15px;
    display: flex;
    text-decoration: none;
    color: white;
}
header ul {
    display: flex;
    margin: 0;
}
main{
    background-image: url(main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.photo1{
    height: 120px;
}
.mainH1{
    color: white;
}
.mainTextBlock{
    color: white;
    width: 40%;
}
section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.title {
    margin-left: 3%;
}
.text1{
    font-size: 12px;
}
article{
width: 33%; 
}
